Package: git-helper
Version: 1.r42
Architecture: all
Depends: git
Maintainer: Matthew Phillip Cooper <coopertronics@gmail.com>
Description: Git Helper - This script helps you to update your git repo by enabling you to simply type update-git.
